<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; 	charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="all, follow" />
    <meta name="googlebot" content="index, follow, snippet, archive" />
    <link rel="stylesheet" href="./stylesheets/screen.css" type="text/css"  media="screen, projection" />
    <title>Hope Caleb</title>
  </head>
  <body>
    <div class="page">
      <h3 class="header">
        <a href="./index.html" title="Home">
          HopeCaleb
         
          <span>
          </span></a></h3>
      <ul class="topmenu">
        <li>
	      <a href="about.html">About</a>
	    </li>
	    <li>
	      <a href="memories.html">Memories</a>
	    </li>
        <li>
          <a href="testimonial.html">Testimonials</a>
        </li>
        <li>
          <a href="/">Main</a>
        </li>
      </ul>
      <div class="main">
        {{ content }}
      </div>
      <!-- /main-->
      <div class="footer1">
        <p>
        &copy {{site.time | date: "%Y"}} Hope Caleb 3
        |
        <a href="#">Contact us</a>
        </p>
        <p>
          <a href="http://www.studio7designs.com">Studio7designs</a>
          |
          <a href="http://www.opensourcetemplates.org">Opensourcetemplates</a>
        <p>
      </div>
    </div>
  </body>
</html>


